<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tmfhome.dao.UserMapper">

    <insert id="addUser" parameterType="Users">
        insert into ssmbuild.users(userID,userNickname,userPassword)
        value (#{userID},#{userNickname},#{userPassword});
    </insert>
    <delete id="deleteUser" parameterType="int">
        delete from ssmbuild.users where userNum = #{userNum}
    </delete>
    <update id="updateUser" parameterType="int">
        update ssmbuild.users
        set userID =#{userID},userNickname=#{userNickname},userPassword=#{userPassword}
        where userNum=#{userNum}
    </update>
    <select id="queryUserByUserNum" resultType="Users">
        select * from ssmbuild.users where userNum = #{userNum}
    </select>
    <select id="queryAllUser" resultType="Users">
        select * from ssmbuild.users
    </select>
</mapper>